<header id="header">
  <%= render "top_nav" %>

  <div id="project-header-image" class="purple-fox">
    <%= image_tag "purple_fox.svg" %>
  </div>
  <div class="row">
    <div class="medium-12 columns text-center">
      <%= link_to root_url do %>
        <%= image_tag "logo_v2.svg", id: "logo" %>
      <% end %>
    </div>
  </div>
</header>

<section id="intro" class="clearfix">
  <div class="medium-3 columns">
    <h3>Bonjour!</h3>
  </div>
  <!-- medium-push-3 -->
  <div class="medium-6  columns">
    <h3>I'm Robin, a web developer building websites for a living by day, and designing them for fun by night.</h3>

    <h3>
      This is a collection of my favorite work.
    </h3>
  </div>
  <div class="columns"></div>

  <div class="huge-bg">
    <p>Hello.</p>
  </div>
</section>

<% if true %>
<nav id="categories" class="clearfix">
  <!-- <div class="row"> -->
    <div class="medium-3 columns">
      <span class="light-text uppercase"><small>Legend</small></span>
    </div>

    <div class="medium-9 columns">
      <div class="row">
        <div class="row">
          <% Category.all.each do |category| %>
            <div class="medium-2 columns">
              <%= link_to "#" do %>
                <%= render category %>
              <% end %>
            </div>
          <% end %>
          <div class="columns"></div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</nav>
<% end %>

<section id="content" class="clearfix">
  <% if false %>
    <%= render "grid" %>
  <% end %>

  <div id="content-wrapper">
    <% @projects.each do |project| %>
    <!-- <div class="medium-6 columns"> -->
      <%= render "project", project: project %>
    <!-- </div> -->
    <% end %>
  </div>
</section>
