<div class="project-page" id="<%= dom_id(@project) %>">
  <header id="header">
    <%= render "top_nav" %>

    <div class="row">
      <div class="medium-12 columns text-center">
        <h1><%= @project.title %></h1>
        <h3><%= @project.subtitle %></h3>
      </div>
    </div>


    <div id="project-header-image">
      <%= image_tag @project.bg_image_url %>
      <div id="stripe"></div>
    </div>
  </header>

  <section id="brief" class="clearfix">
    <div class="medium-3 columns">
      <h3 class="light-text">Brief</h3>
    </div>
    <div class="medium-6 columns">
      <h3><%= @project.description %></h3>
    </div>

    <div class="huge-bg">
      <p>Brief.</p>
    </div>
  </section>

  <%= render "categories/category_list", categories: @project.categories %>

  <section id="content" class="clearfix">
    <%#= render "grid" %>
    <div id="content-wrapper">
      <div class="medium-10 medium-push-1 columns">
        <figure>
          <img src="http://i.imgur.com/IIeRMCp.jpg">
        </figure>
      </div>
    </div>
  </section>
</div>
