<% categories = [
  "Full website",
  "Development",
  "Design",
  "Feature",
  "Personal",
  "Work"
  ] %>

<% globes = [
  "design",
  "code",
  "feature"
] %>

<div class="project clearfix" id="<%= project.id %>"

  >
  <!-- style="background-image: url(<%= image_path("projects/#{project.image_url}") %>)" -->
  <div class="clearfix">
    <div class="medium-3 columns">
      <div class="project-logo">
        <%= image_tag "logos/#{project.image_url}" %>
      </div>
    </div>

    <div class="medium-6 columns">
      <section class="about">
        <% if false %>
          <p class="date">July 10, 2010</p>
        <% end %>

        <h2><%= project.title %></h2>

        <p><%= project.description %></p>


        <% if true %>
        <div class="category">
          <div class="globe">
            <span class="<%= cycle(*globes, name: :globe) %>"></span>
          </div>

          <%= cycle(*categories, name: :category) %>

        </div>
        <% end %>



        <%#= image_tag "projects/#{project.image_url}" %>
      </section>
    </div>

    <div class="medium-3 columns">
      <%= image_tag "projects/#{project.image_url}", class: "triangle" %>
    </div>
    <figure class="text-center medium-2 medium-pull-1">
      <%#= image_tag "projects/#{project.image_url}" %>
    </figure>
  </div>

  <div class="clearfix highlight">
    <div class="medium-12 columns">
      <% if false %>
      <footer>

        <div><%= image_tag "projects/#{project.image_url}" %></div>

        <%= render "v2/projects/#{project.id.underscore}", project: project %>
      </footer>
      <% end %>
    </div>
  </div>

  <% if false %>
  <p class="huge-bg"><%= project.title %></p>
  <% end %>
</div>
