<header id="header">
  <nav id="top-nav">
    <ul class="no-bullet clearfix">
      <li>
        <%= link_to v2_root_url, id: "mini-logo" do %>
          <%= image_tag "a-white.svg" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <strong>My Work</strong>
          Code &amp; Design.
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <strong>About</strong>
          I like purple.
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <strong>Contact</strong>
          Dribbble invite?
        <% end %>
      </li>
    </ul>
  </nav>

  <%= image_tag "purple_fox.svg", id: "purple-fox" %>
  <div class="row">
    <div class="medium-12 columns text-center">
      <%= link_to root_url do %>
        <%= image_tag "logo_v2.svg", id: "logo" %>
      <% end %>
    </div>
  </div>
</header>

<section id="content" class="clearfix">
  <!-- <div class="row"> -->
    <% @projects.each do |project| %>
      <div class="medium-6 large-4 columns">
        <%= render "project", project: project %>
      </div>
    <% end %>
  <!-- </div> -->
</section>
