<nav id="top-nav">
  <ul>
    <li>
      <%= link_to v2_root_url do %>
        <%= image_tag "a-white.svg", id: "mini-logo" %>
      <% end %>
    </li>
    <li>
      <%= link_to "My Work", "#" %>
    </li>
    <li>
      <%= link_to "About", "#" %>
    </li>
    <li>
      <%= link_to "Other", "#" %>
    </li>
  </ul>
</nav>

<header id="header">
  <%= image_tag "purple_fox.svg", id: "purple-fox" %>
  <div class="row">
    <div class="medium-12 columns text-center">
      <%= link_to root_url do %>
        <%= image_tag "logo_v2.svg", id: "logo" %>
      <% end %>
    </div>
  </div>
</header>

<section id="content" class="clearfix">
  <!-- <div class="row"> -->
    <% @projects.each do |project| %>
      <div class="large-4 columns">
        <%= render "project", project: project %>
      </div>
    <% end %>
  <!-- </div> -->
</section>
