<%
  light = local_assigns[:light]
  logo_path = light ? "a.svg" : "a-white.svg"
%>

<nav id="top-nav" class="row <%= "light" if light %>">
  <div class="small-2 columns">
    <%= link_to root_url, id: "name", class: "all-caps" do %>
      <strong>Robin Boutros</strong>
    <% end %>
  </div>
  <div class="small-10 columns text-right">
    <%= link_to "#" do %>
      <span>Selected Work</span>
      <!-- Code &amp; design -->
    <% end %>
    <%= link_to "#" do %>
      <span>About</span>

    <% end %>
    <%= link_to "#" do %>
      <span>Contact</span>
      <!-- niuage@gmail.com -->
    <% end %>
  </div>
</nav>
