<%
  light = local_assigns[:light]
  logo_path = light ? "a.svg" : "a-white.svg"
%>

<nav id="top-nav" class="row <%= "light" if light %>">
  <ul class="no-bullet clearfix small-12 columns">
    <li>
      <%= link_to root_url, id: "mini-logo" do %>
        <%#= image_tag logo_path %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <span>My Work</span>
        Code &amp; design
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <span>Experience</span>

      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <span>Say hi</span>
        niuage@gmail.com
      <% end %>
    </li>
  </ul>
</nav>
